<div class="row">
	<div class="col-xs-5">
		<a href="#/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Poll</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a poll">
	</div>
</div>

<div class="row">
	<div class="col-xs-12"><hr></div>
</div>

<div class="row" ng-switch on="polls.length">
	<div class="col-xs-12">
		<div ng-switch-when="0">
			<h4><em>No polls in databases. Would you like to <a href="#/new">create one</a>?</em></h4>
		</div>
		<div ng-switch-default>
			<div ng-repeat="poll in Polls | filter:query">
				<h4><a href="#/poll/{{poll.$id}}"><span class="glyphicon glyphicon-stats"></span> {{poll.question}}</a> <small><em>({{poll.totalVotes}} votes)</em></small></h4>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a href="#/admin" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-wrech"></span> Poll Administration</a>
	</div>
</div>