<div class="well well-lg">
	<h3>{{poll.question}}</h3></div>
<div>
	<p class="lead">Please select one of the following options:</p>
	<form role="form">
		<div ng-repeat="choice in poll.choices" class="radio">
			<label>
				<input type="radio" name="choice" ng-model="$parent.userVote" value="{{$index}}">
				{{choice.text}} </label>
		</div>
		<p>
		<hr>
		</p>
		<div class="row">
			<div class="col-xs-6"> <a href="#/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a> </div>
			<div class="col-xs-6">
				<button class="btn btn-primary pull-right" ng-click="vote()" ng-disabled="userVoted" type="submit">Vote</button>
			</div>
		</div>
	</form>
</div>
<div>
	<p>&nbsp;</p>
	<table class="table table-condensed result-table">
		<tr ng-repeat="choice in poll.choices">
			<td><strong>{{choice.text}}</strong> ({{choice.votes}}) votes</td>
			<td><div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="{{ (choice.votes / $parent.poll.totalVotes)*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (choice.votes / $parent.poll.totalVotes)*100 }}%;"> <span class="sr-only">{{ (choice.votes / $parent.poll.totalVotes)*100 }}%</span> </div>
				</div>
			</td>
		</tr>
	</table>
	<p>{{ poll.totalVotes }} votes so far.</p>
</div>
